.popup__submit-button {
  position: absolute;
  top: 243px;
  left: 36px;
  width: 358px;
  height: 50px;
  cursor: pointer;
  background-color: #000000;
  border-radius: 2px;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
}

.popup__submit-button:hover {
  opacity: 0.8;
  transition: 0.15s linear;
}

@media screen and (max-width: 620px) {
  .popup__submit-button {
    position: absolute;
    top: 224px;
    left: 30px;
    width: 240px;
    height: 36px;
    font-size: 14px;
  }
}